@font-face {
    font-family: 'phetsarath_ot';
    src: url('~@/assets/fonts/phetsarath_ot.ttf') format('truetype');
  }
  h2#swal2-title
      {
      
        font-family: 'phetsarath_ot'!important;
         
      }
      h2#swal2-ConfirmButtonText
      {
      
        font-family: 'phetsarath_ot'!important;
         
      }
      div#swal2-html-container{
      
         font-family: 'phetsarath_ot'!important;
        
      }
   